@import '../colors/colors';

.container-tracklist {
    box-sizing: border-box;
    padding: 10px;

    width: 100%;
    height: 100%;

    color: white;
    background-color: $rich-black-2;
    color: white;

    text-align: left;
    border-radius: 30px;
    
    h3 {
        margin-left: 15px;
    }

    .track-container {
        display: flex;
        justify-content: space-around;
        align-items: center;

        margin-bottom: 10px;
        border-bottom: 1px solid $violetA4;

        .track-txt {
        width: 100%;
        font-family: 'Open Sans', sans-serif;
        padding: 10px;
        
            .track-title {
                margin: 0;
                font-size: 15px;
                font-weight: 700;
                letter-spacing: .5px;
            }
            .track-artist {
                margin: 0;
                font-weight: 400;
                letter-spacing: .8px;
                font-size: 11px;
                color: $periwinkle;
            }
        }
        .btn-container {
            align-self: center;
            text-align: center;
                
            .btn-simbol {
                width: 22px;
                height: 22px;
                background-color: $violet11;
                border-radius: 50%;
    
                &:hover {
                    background-color: $naples-yellow;
                }
            }
        }
    }
}