@import '../colors/colors';

.container-playlist {
    box-sizing: border-box;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 100%;
    height: 100%;

    color: $rich-black-2;
    background-color: $violetA5;
    border-radius: 30px;
    text-align: left;
    
    .playlist-title {
        display: flex;
        height: 55px;

        align-items: center;
        border-bottom: 1px solid $violetA4; 

        h3 {
            margin: 10px;
            padding: 5px 0;
            
            font-family: Inter, sans-serif;
            font-weight: 800;
            letter-spacing: 1px;
    
            
        }

        form {

            input {
                all: unset;
            }
            .playlistForm {
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                letter-spacing: .8px;
            }
        }
        /*
        .editIcon {
            width: ;
        }
        */ 
    }
    
    .flex-playlist {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;

        .track-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-bottom: 1px solid $violetA4;
            padding: 0 10px;     

            .track-txt {
                width: 100%;
                font-family: 'Open Sans', sans-serif;
                padding: 2px 15px 2px 20px;
                
                .track-title {
                    margin: 0;
                    font-size: 15px;
                    font-weight: 700;
                    letter-spacing: .5px;

                }
                .track-artist {
                    margin: 0;
                    font-weight: 400;
                    letter-spacing: .8px;
                    font-size: 11px;
                    color: $rich-black-2;
                }
            }
            .btn-container {
                align-self: center;
                text-align: center;
                    
                .btn-simbol {
                    width: 22px;
                    height: 22px;
                    background-color: $violet11;
                    border-radius: 50%;
        
                    &:hover {
                        background-color: $naples-yellow;
                    }
                }
            }
        }
    }

    .container-save-btn {
        width: 100%;
        height: 65px;

        text-align: center;

        button {
            all: unset;
        }

        .save-btn {
            
            height: 45px;
            width: 70%;
            margin: 10px 0;

            border-radius: 30px;
            font-size: 15px;
            padding: 0 15px;
            
            background-color: white;
            color: $color1;
            box-shadow: 0 2px 10px $blackA7;
    
            letter-spacing: 1px;
            font-weight: 800;
    
            &:hover {
            background-color: $blackA9;
            color: white;
            }
        }
        
        
    }

    .dialog-hidden {
        display: none;
    }
    .dialog {
        background-color: $blackA9;
        position: fixed;
        inset: 0;
        animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);

        .dialog-content {
            background-color: white;
            border-radius: 30px;

            text-align: center;
            font-family: 'Open Sans', sans-serif;
            
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90vw;
            max-width: 400px;
            max-height: 85vh;
            padding: 25px;
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
            animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);

            &:hover {
                box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
            }
            
            .dialogTitle {
                margin: 0;
                font-weight: 800;
                letter-spacing: 1px;
                color: $violet1;
                font-size: 17px;
              }

            .dialogDescription {
                margin: 10px 0 20px;
                color: $violet9;
                font-size: 14px;
                line-height: 1.5;
              }

              button {
                all: unset;
              }
              
              .button-dialog {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                padding: 0 15px;
                font-size: 15px;
                line-height: 1;
                font-weight: 500;
                height: 35px;

                background-color: $violet9;
                color: white;
                box-shadow: 0 2px 10px $blackA7;

                &:focus {
                    box-shadow: 0 0 0 2px black;
                }

                &:hover {
                    background-color: $violet1;
                    color: $violet11;
                    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
                }
            }
            /** Animation **/
            @keyframes overlayShow {
                from {
                  opacity: 0;
                }
                to {
                  opacity: 1;
                }
            }
            @keyframes contentShow {
                from {
                  opacity: 0;
                  transform: translate(-50%, -48%) scale(0.96);
                }
                to {
                  opacity: 1;
                  transform: translate(-50%, -50%) scale(1);
                }
            }
              
        }
    }
}