@import '../colors/colors';

.track-container {
    font-family: 'Open Sans', sans-serif;
    padding: 2px;
    border-bottom: 1px solid white;

    .track-title {
        font-weight: 700;
        letter-spacing: 1px;
    }
    .track-artist {
        font-weight: 300;
        letter-spacing: 1.2px;
        color: $ash-gray;
    }
}