@import '../colors/colors';

.track-compo {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .img-track {
        width: 70px;
        height: 70px;
    }
}

