@import '../colors/colors';

.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-image: url('./background_photo_desktop.jpg');
  background-position: center;
  background-size: cover;

  .App-header {
    background-color: $color1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //font-size: calc(10px + 2vmin);
    color: white;
  }

  h1 {
    font-family: 'Poppins', sans-serif;

    .highlight {
      color: $color2;
    }
  }

  main {
    width: 60vw;
    margin: 0 auto;

    .containerLists {
      display: flex;
    }
  }
}
