/*  STANDART STYLE */
.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #1f1f1f;
    color: #e3e3e3;
}

/** FONTS **/ 
@font-face {
    font-family: DmSans;
    src: url(./assets/fonts/DM_Sans/DMSans-Bold.ttf);
}

@font-face {
    font-family: WorkSans;
    src: url(./assets/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: Gloock;
    src: url(./assets/fonts/Gloock/Gloock-Regular.ttf);
}

@font-face {
    font-family: Playfair;
    src: url(./assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}

.playfair-display {
    font-family: Playfair;
}

@font-face {
    font-family: Quicksand;
    src: url(./assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

.quicksand {
    font-family: Quicksand;
}

@font-face {
    font-family: Shantell;
    src: url(./assets/fonts/Shantell_Sans/ShantellSans-VariableFont_BNCE\,INFM\,SPAC\,wght.ttf);
}

.shantell-sans {
    font-family: Shantell;
}

@font-face {
    font-family: Asap;
    src: url(./assets/fonts/Asap/Asap-VariableFont_wdth\,wght.ttf);
}

.asap {
    font-family: Asap;
}

@font-face {
    font-family: OpenSans;
    src: url(./assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

.open-sans {
    font-family: OpenSans;
}

@font-face {
    font-family: RobotoMono;
    src: url(./assets/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf);
}

.roboto-mono {
    font-family: RobotoMono;
}

.dark-txt {
    color: #1f1f1f;
}

/**  HEADER STYLE **/
header {
    padding: 30px;
    text-align: center;
    height: 60vh;
    position: relative;
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
}

header h1 {
    font-family: DmSans;
    letter-spacing: 1.7px;
    font-size: 4.2em;
}

#bg-video {
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    object-fit: cover;
    z-index: -1;
    border-radius: 10px;
}

/*  NAV STYLE */
nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    
}

nav a {
    text-decoration: none;
    color: mediumorchid;
}

/* CONTENT STYLE */
.container {
   margin: 30px;
}

/* *  CONTENT STYLE * */

/*      COLOR SECTION       */

.box-content {
    display: flex;
    flex-direction: column;
}

.box-content h2 {
    font-family: Gloock;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 5px;
}

.box-content h3 {
    font-family: WorkSans, sans-serif;
    font-size: 2.3em;
    font-weight: 500;
    letter-spacing: 1.5px;
}

.color-box {
    width: 100%;
    justify-content: space-between;
}

.color-block {
    background-color: blue;
    width: 18%;
    border-radius: 6px;
    text-align: center;
    font-family: WorkSans, sans-serif;
}

.color-block h4 {
    font-size: 2em;
    font-weight: 300;
}

.color-block p {
    font-weight: 400;
}

/**      FONT SECTION       **/
#box-fonts {
    display: flex;
    flex-wrap: wrap;
    /*gap: 10%;*/
    row-gap: 3em;
    justify-content: space-between;
    align-items: center;
}

.fontUnit {
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    padding: 25px;
    min-width: 425px;
    width: 42%;
    text-align: center;
    transition: .5s;
}

.fontUnit:hover {
    background-color: #fff;
    color: #1f1f1f;
}

.font-title {
    text-transform: capitalize;
}

/**      TEXT STYLES SECTION       **/
#box-styles {
    display: flex;
    justify-content: space-between;
}

.styleUnit {
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    padding: 25px;
    min-width: 280px;
    width: 28%;
    transition: .5s;
}

.styleUnit:hover {
    background-color: #fff;
    color: #1f1f1f;
}

.styleUnit h1 {
    font-weight: 700;
    font-size: 26px;
}

.styleUnit h2 {
    font-weight: 500;
    font-size: 18px;
}

.styleUnit h3 {
    font-weight: 400;
    font-size: 14px;
}