/**  STANDART STYLE **/
.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #1f1f1f;
    color: #e3e3e3;
}

/** FONTS **/ 
@font-face {
    font-family: DmSans;
    src: url(./assets/fonts/DM_Sans/DMSans-Bold.ttf);
}

@font-face {
    font-family: WorkSans;
    src: url(./assets/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: Gloock;
    src: url(./assets/fonts/Gloock/Gloock-Regular.ttf);
}

@font-face {
    font-family: Playfair;
    src: url(./assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}

.playfair-display {
    font-family: Playfair;
}

@font-face {
    font-family: Quicksand;
    src: url(./assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

.quicksand {
    font-family: Quicksand;
}

@font-face {
    font-family: Shantell;
    src: url(./assets/fonts/Shantell_Sans/ShantellSans-VariableFont_BNCE\,INFM\,SPAC\,wght.ttf);
}

.shantell-sans {
    font-family: Shantell;
}

@font-face {
    font-family: Asap;
    src: url(./assets/fonts/Asap/Asap-VariableFont_wdth\,wght.ttf);
}

.asap {
    font-family: Asap;
}

@font-face {
    font-family: OpenSans;
    src: url(./assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

.open-sans {
    font-family: OpenSans;
}

@font-face {
    font-family: RobotoMono;
    src: url(./assets/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf);
}

.roboto-mono {
    font-family: RobotoMono;
}

.dark-txt {
    color: #1f1f1f;
}

/**  HEADER STYLE **/
header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    text-align: center;
    height: 100vh;
    position: relative;
    background: rgba(0, 0, 0, 0.7);
}

header h1 {
    font-family: Gloock;
    letter-spacing: 10px;
    font-size: 9.5vw;
}

header p {
    font-family: WorkSans, sans-serif;
    letter-spacing: 5px;
    font-weight: 300;
    font-size: 3.1vw;
}

#bg-video {
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    object-fit: cover;
    z-index: -1;
}

/**  NAV STYLE **/
nav ul {
    list-style-type: none;
    justify-content: space-evenly;
    background-color: #111111a8;
    padding: 10px;
    font-family: DmSans, sans-serif;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: #EC9706;;
    font-size: 1.1em;
}

/* CONTENT STYLE */
.container {
   padding: 50px;
}

/* *  CONTENT STYLE * */

/*      COLOR SECTION       */

.box-content {
    display: flex;
    flex-direction: column;
    border-top: 1px dashed #ec98065d;
    padding-bottom: 70px;
}

.box-content h2 {
    font-family: Gloock;
    font-weight: bold;
}

.h2-color {
    color: #EC9706;
    letter-spacing: 10px;
    font-size: 5.5vw;
}

.box-content h3 {
    font-family: WorkSans, sans-serif;
    font-weight: 500;
    letter-spacing: 1.5px;
}

.color-box {
    width: 100%;
    justify-content: space-between;
}

.color-block {
    width: 18%;
    border-radius: 6px;
    text-align: center;
    font-family: WorkSans, sans-serif;
}

.shades-title {
    font-size: 3vw;
}

.color-block h4 {
    font-size: 2.9vw;
    font-weight: 300;
}

.color-block p {
    font-size: 2vw;
    font-weight: 400;
}

/**      FONT SECTION       **/
#box-fonts {
    display: flex;
    flex-wrap: wrap;
    /*gap: 10%;*/
    row-gap: 3em;
    justify-content: space-between;
    align-items: center;
}

.fontUnit {
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    padding: 25px;
    min-width: 425px;
    width: 42%;
    text-align: center;
    transition: .5s;
}

.fontUnit:hover {
    background-color: #fff;
    color: #1f1f1f;
}

.font-title {
    text-transform: capitalize;
    font-size: 4vw;
}

/**      TEXT STYLES SECTION       **/
#box-styles {
    display: flex;
    justify-content: space-between;
}

.styleUnit {
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    padding: 25px;
    min-width: 280px;
    width: 28%;
    transition: .5s;
}

.styleUnit:hover {
    background-color: #fff;
    color: #1f1f1f;
}

.styleUnit h1 {
    font-weight: 700;
    font-size: 26px;
}

.styleUnit h2 {
    font-weight: 500;
    font-size: 18px;
}

.styleUnit h3 {
    font-weight: 400;
    font-size: 14px;
}

/** FOOTER **/
footer {
    padding: 20px 50px;
    background-color: #322d31;
    letter-spacing: 2px;
    border-top: 1px dashed #e3e3e32c;
}

footer a {
    text-decoration: none;
    color: #EC9706;
    font-weight: bold;
}

/** RESPONSIVE **/

/* Medium devices (desktops, 992px and up) */
@media (max-width: 950px) {
    #box-styles {
        flex-wrap: wrap;
        row-gap: 20px;
    }
    .fontUnit {
        min-width: 35vw;
        font-size: 0.7em;
    }
    .font-title {
        font-size: 30px;
    }
    .styleUnit {
        width: 100%;
    }
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 810px) {
    .container {
        padding: 10px;
    }
    nav a {
        font-size: 14px;
    }
    .fontUnit {
        width: 100%;
        min-width: 100px;
        font-size: 0.7em;
    }
    .font-title h3 {
        font-size: 15px;
    }
    #box-styles {
        flex-wrap: wrap;
        row-gap: 20px;
    }
    .styleUnit {
        width: 100%;
    }
    footer {
        font-size: 12px;
    }
}
  

  
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {
    .out-container {
        display: flex;
        flex-direction: column;

    }
    .hero {
        width: 1300px;
    }
    header h1 {
        font-size: 150px;
    }
    header p {
        font-size: 42px;
    }
    main {
        background-color: #1f1f1f;
        width: 1300px;
        margin: auto;
    }

    .shades-title {
        font-size: 42px;
    }
    .color-block h4 {
        font-size: 38px;
    }
    .color-block p {
        font-size: 25px;
    }

    .font-title {
        font-size: 50px;
    }

    .h2-color {
        font-size: 60px;
    }
    footer {
        text-align: center;
    }
}